NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me

MM_OAUTH_BASE_URL=https://mm.tinytrashlabs.com
MM_OAUTH_CLIENT_ID=change-me
MM_OAUTH_CLIENT_SECRET=change-me

MAIL_STORE_URL=http://mail-store:3025
VIEWER_SECRET=change-me

RESEND_API_KEY=re_change-me
RESEND_FROM_DOMAIN=tinytrashlabs.com
